<tr class="AllRoundItem" id="AllRoundItem-{{accountId}}">
    <td><a target="_blank" href="http://burstcoin.be/account/{{accountId}}">{{accountRS}}</a></td>
    <td id="AllRoundItem-Deadline-{{accountId}}">{{deadlineStr}}</td>
    <td id="AllRoundItem-Share-{{accountId}}">{{share}}%</td>
    <td id="AllRoundItem-Balance-{{accountId}}">{{balance}}</td>
    <td id="AllRoundItem-Capacity-{{accountId}}">{{capacity}} TB</td>
    <td id="AllRoundItem-Count-{{accountId}}">[ {{roundCount}} ]</td> </tr>
