 <thead>
<tr>
    <td><strong>Miner</strong></td>
    <td><strong>Deadline</strong></td>
    <td><strong>Share %</strong></td>
    <td><strong>Pending</strong></td>
    <td><strong>Capacity</strong</td>
    <td><strong>Rounds</strong</td>
</tr>

                                        </thead>

